<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ch.ethz.coss.nervousnet.hub"
    android:versionCode="42"
    android:versionName="0.7.35 alpha">

    <uses-sdk
        android:minSdkVersion="17"
        android:targetSdkVersion="22" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIMAX_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="ch.ethz.coss.nervousnet.hub.BIND_PERM" />

    <permission
        android:name="ch.ethz.coss.nervousnet.hub.BIND_PERM"
        android:description="@string/api_perm_desc"
        android:label="Nervousnet HUB API permission"
        android:protectionLevel="dangerous" />

    <application
        android:name=".Application"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/nn_Theme">
        <activity
            android:name=".ui.SplashActivity"
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:theme="@style/nn_Theme_No_Title_bar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".NervousnetHubApiService"
            android:enabled="true"
            android:permission="ch.ethz.coss.nervousnet.hub.BIND_PERM">
            <intent-filter>
                <action android:name="ch.ethz.coss.nervousnet.hub" />
            </intent-filter>
        </service>

        <activity
            android:name=".ui.MainActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".ui.SensorDisplayActivity"
            android:label="@string/title_activity_sensors">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ch.ethz.coss.nervousnet.hub.ui.MainActivity" />
        </activity>
        <activity
            android:name=".ui.AnalyticsActivity"
            android:label="@string/title_activity_sensors">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ch.ethz.coss.nervousnet.hub.ui.MainActivity" />
        </activity>
        <activity
            android:name=".ui.ShowcaseActivity"
            android:label="@string/title_activity_sensors">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ch.ethz.coss.nervousnet.hub.ui.MainActivity" />
        </activity>
        <activity
            android:name=".ui.SettingsActivity"
            android:label="@string/title_activity_sensors">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ch.ethz.coss.nervousnet.hub.ui.MainActivity" />
        </activity>
        <activity
            android:name=".ui.HelpActivity"
            android:label="@string/title_activity_sensors">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ch.ethz.coss.nervousnet.hub.ui.MainActivity" />
        </activity>
        <activity
            android:name=".ui.AboutActivity"
            android:label="@string/title_activity_sensors">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ch.ethz.coss.nervousnet.hub.ui.MainActivity" />
        </activity>

        <activity
            android:name=".ui.GenericSettingsActivity"
            android:label="@string/title_activity_sensors">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ch.ethz.coss.nervousnet.hub.ui.MainActivity" />
        </activity>
        <activity
            android:name=".ui.CollectionRateSettingsActivity"
            android:label="@string/title_activity_sensors">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ch.ethz.coss.nervousnet.hub.ui.MainActivity" />
        </activity>
        <activity
            android:name=".ui.ShowSensorListActivity"
            android:label="@string/title_activity_sensors">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ch.ethz.coss.nervousnet.hub.ui.MainActivity" />
        </activity>
        <activity
            android:name=".ui.SpaceActivity"
            android:label="@string/title_activity_space" />
        <activity android:name=".ui.SharingNodeActivity" />
        <activity android:name=".ui.SensorPermissionsActivity" />
        <activity android:name=".ui.AxonSensorsActivity"/>
    </application>

</manifest>